@import "palette.css";

body {
    font-family: 'Inter', serif;
    font-size: 18px;
    color: var(--base-lighter);
    background: var(--base-darkest);
    padding-top: 1rem;
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: var(--base-lightest);
        color: var(--base-darker);
    }
}

@media (max-width: 370px) {
    body {
        font-size: 1rem;
    }
}

.container {
    max-width: 40rem;
    margin: auto auto;
    padding: 0 1rem;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 2rem 0;
    text-wrap: pretty;
}

p,
li {
    line-height: 1.4em;
}

a {
    color: var(--blue);
    text-decoration: underline;
}

a:hover {
    color: var(--ruby);
    -webkit-text-fill-color: initial;
}

a,
a:hover {
    transition: all linear 0.25s;
}

.site-title {
    display: block;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 7rem;
    font-style: normal;
    text-align: center;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    background: linear-gradient(60deg, #d30a90 10%, #d63200, #ffcb20, #c08bec, #6444f0, #355feb 90%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.site-title:hover {
    color: transparent !important;
}

@media (max-width: 800px) {
    .site-title {
        font-size: 5rem;
    }
}

@media (max-width: 370px) {
    .site-title {
        font-size: 3rem;
    }
}

h1 a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cardo", serif;
    padding: 0;
    margin: 3rem 0 2rem;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: 500;
}

li {
    padding: 0.5rem 0;
}

.no-list {
    list-style-type: none;
    padding: 0;
}

.hlist {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
    /* padding: 0; */
}

.hlist li {
    display: inline-block;
    margin: 0 1rem;
    padding: 0;
}


hr {
    height: 1px;
    color: #ed1d61;
    background: #ed1d61;
    font-size: 0;
    border: 0;
    max-width: 80%;
}

@media screen and (prefers-color-scheme: light) {
    hr {
        background: var(--base-lighter);
    }
}

@media screen and (prefers-color-scheme: dark) {
    hr {
        background: var(--base-darker);
    }
}

.text-cardo {
    font-family: 'Cardo', serif;
}

.text-centered {
    text-align: center;
}

.text-i,
.text-italicised {
    font-style: italic;
}

.text-xs {
    font-size: 0.5rem;
}

.text-sm {
    font-size: 0.8rem;
}

.text-lg {
    font-size: 1.5rem;
    font-weight: 400;
}

.text-xl {
    font-size: 7rem;
    font-weight: 700;
}

.text-red {
    color: var(--ruby)
}

.text-blue {
    color: var(--blue);
}

.text-green {
    color: var(--emerald);
}

.text-yellow {
    color: var(--gold);
}

.text-purple {
    color: var(--amethyst);
}

.text-gradient {
    /* background: linear-gradient(45deg, #926,#16c,#084); */
    background: linear-gradient(60deg, #d30a90 10%, #d63200, #ffcb20, #c08bec, #6444f0, #355feb 90%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.text-dim,
.text-dimmed {
    opacity: 0.7;
}

.text-nodecor {
    text-decoration: none;
}

.button {
    display: inline-block;
    border-radius: 0.5rem;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    /* background: #16c;  */
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.button:hover {
    background: #fff;
    color: #000;
    mix-blend-mode: screen;
}

.icon-button {
    font-size: 150%;
    transition: all linear 0.2s;
}

.icon-button:hover {
    text-shadow: rgba(255, 255, 255, 0.7) 0 0 2px
}

span.redacted {
    color: #000;
    background: #000;
    border: 1px solid #333;
    border-radius: 2px;
}

span.redacted:hover {
    color: inherit;
    background: none;
}

.commentary {
    opacity: 0.7;
    font-style: italic;
}

ul.poetry {
    list-style-type: none;
    padding: 0;
}

ul.poetry li {
    padding: 0.5em 0;
}

.badge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--text-color-darkmode-secondary);
    border-radius: 1rem;
    color: var(--text-color-darkmode-secondary);
    font-size: 0.8rem;
    font-weight: 700;
}

/* Cover grids */
.cover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(10em auto);
    gap: 1em;
    margin-bottom: 1em;
}

.cover-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;
}

.cover {
    display: block;
    position: relative;
    border: 1px solid #ed1d61;
    text-align: center;
    text-decoration: none;
    height: 15rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 4px;
    transition: all 0.5s linear;
}

.cover h2 {
    min-height: 8rem;
    transition: all 0.5s linear;
    margin: 1em 0;
}

.cover p {
    display: block;
    font-style: italic;
    margin: 0;
    transition: all 0.5s linear;
}

@media screen and (prefers-color-scheme: dark) {
    .cover {
        color: var(--base-light);
        border-color: var(--base-darker);
        box-shadow: inset 0 0 .5em var(--base-darker);
    }

    .cover:hover {
        border-color: var(--gold);
        box-shadow: inset 0 0 1em var(--gold);
    }

    .cover h2 {
        color: var(--gold);
    }

    .cover:hover h2 {
        color: var(--gold-vivid);
    }

    .cover p {
        color: var(--base-dark)
    }

    .cover:hover p {
        color: var(--base-light)
    }
}

@media screen and (prefers-color-scheme: light) {
    .cover {
        border-color: var(--base-lighter);
        box-shadow: inset 0 0 .5em var(--base-lighter);
    }

    .cover:hover {
        border-color: var(--amethyst);
        box-shadow: inset 0 0 1em var(--amethyst);
    }

    .cover h2 {
        color: var(--amethyst);
    }

    .cover:hover h2 {
        color: var(--amethyst-vivid);
    }

    .cover p {
        color: var(--base-light)
    }

    .cover:hover p {
        color: var(--base-dark)
    }
}


/* Footer */
footer {
    border-top: 1px solid #d30a90;
    width: fit-content;
    min-width: 20rem;
    margin: 2em auto 0;
    text-align: center;
}

@media screen and (prefers-color-scheme: light) {
    footer {
        color: var(--base-light);
        border-color: var(--base-lighter);
    }
}

@media screen and (prefers-color-scheme: dark) {
    footer {
        color: var(--base-dark);
        border-color: var(--base-darker);
    }
}